<!-- spring-config.xml -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- Define a bean for the Action genre -->
	<bean id="actionGenre" class="com.gamerszone.ioc.Genre">
		<property name="name" value="Action" />
	</bean>

	<!-- Define a bean for the Assassin's Creed game -->
	<bean id="assassinsCreed" class="com.gamerszone.ioc.Game">
		<property name="title" value="Assassin's Creed" />
		<property name="releaseYear" value="2007" />
		<property name="genre" ref="actionGenre" />
	</bean>

	<!-- Define a bean for the Action game type -->
	<bean id="actionGameType" class="com.gamerszone.di.GameType">
		<property name="name" value="Action" />
	</bean>

	<!-- Define a bean for the Assassin's Creed video game using constructor 
		injection -->
	<bean id="assassinsCreedGame" class="com.gamerszone.di.VideoGame">
		<constructor-arg value="Assassin's Creed" />
		<constructor-arg value="2007" />
		<constructor-arg ref="actionGameType" />
	</bean>

	<!-- Define a bean for another video game using setter injection (e.g., 
		Call of Duty) -->
	<bean id="callOfDutyGame" class="com.gamerszone.di.VideoGame">
		<property name="title" value="Call of Duty" />
		<property name="releaseYear" value="2005" />
		<property name="gameType" ref="actionGameType" />
	</bean>

	<!-- Define a bean for the Game class -->
	<bean id="minecraft" class="com.gamerszone.di.Game">
		<constructor-arg value="Minecraft" />
		<constructor-arg value="2004" />
	</bean>

	<!-- Define a bean for the Library class with constructor injection -->
	<bean id="library" class="com.gamerszone.di.GameLibrary">
		<constructor-arg ref="minecraft" />
	</bean>
	
	    <!-- Enable annotation-based configuration -->
    <context:property-placeholder location="classpath:application.properties"/>

    <!-- Define a bean for the Gamer class with property injection of values from the property file -->
    <bean id="gamer" class="com.gamerszone.di.Gamer">
        <property name="name" value="${gamer.name}"/>
        <property name="level" value="${gamer.level}"/>
    </bean>
    
    <!-- Define a bean for the Gamers class with prototype scope -->
    <bean id="gamers" class="com.gamerszone.di.beanscope.Gamers" scope="prototype">
        <property name="title" value="${gamers.title}"/>
        <property name="level" value="${gamers.level}"/>
    </bean>
    
     <!-- Singleton Scope -->
    <bean id="singletonScopedGamers" class="com.gamerszone.di.beanscope.Gamers">
        <!-- ... properties and values ... -->
    </bean>

    <!-- Prototype Scope -->
    <bean id="prototypeScopedGamers" class="com.gamerszone.di.beanscope.Gamers" scope="prototype">
        <!-- ... properties and values ... -->
    </bean>

    <!-- Request Scope -->
    <bean id="requestScopedGamers" class="com.gamerszone.di.beanscope.Gamers" scope="request">
        <!-- ... properties and values ... -->
    </bean>

    <!-- Session Scope -->
    <bean id="sessionScopedGamers" class="com.gamerszone.di.beanscope.Gamers" scope="session">
        <!-- ... properties and values ... -->
    </bean>

    <!-- Global Session Scope -->
    <bean id="globalSessionScopedGamers" class="com.gamerszone.di.beanscope.Gamers" scope="globalSession">
        <!-- ... properties and values ... -->
    </bean>

    <!-- Application Scope -->
    <bean id="applicationScopedGamers" class="com.gamerszone.di.beanscope.Gamers" scope="application">
        <!-- ... properties and values ... -->
    </bean>

</beans>
