<?xml version = "1.0" encoding = "UTF-8"?>
<!-- spring-config-annotations.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable annotation-based configuration processing -->
    <context:annotation-config/>

    <!-- Bean definition for Player -->
    <bean name="player" class="com.gamerszone.di.annotations.Player">
        <!-- The playerName property is not explicitly set here -->
        <property name="playerName" value="The Warrior"/>
    </bean>

    <!-- Bean definition for MultiplayerGame with autowire by constructor -->
    <bean name="multiplayerGame" class="com.gamerszone.di.annotations.MultiplayerGame" autowire="constructor">
        <property name="gameTitle" value="Massive Online Adventure"/>
    </bean>

</beans>