<!-- spring-config.xml -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define a bean for the Action genre -->
    <bean id="actionGenre" class="com.gamerszone.Genre">
        <property name="name" value="Action"/>
    </bean>

    <!-- Define a bean for the Assassin's Creed game -->
    <bean id="assassinsCreed" class="com.gamerszone.Game">
        <property name="title" value="Assassin's Creed"/>
        <property name="releaseYear" value="2007"/>
        <property name="genre" ref="actionGenre"/>
    </bean>

</beans>
